name: CI pipeline

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: mvn install
      - name: run tests
        run: mvn test
      - name: build app
        run: mvn package
